<div class="panel panel-default">
    <div class="panel-heading">
        Transformation Vorbereiten
        <button type="button" ng-click="vm.switchTab('assistant')"
                class="btn btn-primary pull-right btn-sm btn-in-header">
            <i class="fa fa-magic"> Assistent starten</i>
        </button>
    </div>
    <div class="panel-body">
        <h4>Gehen Sie in folgenden Schritten vor, um eine Transformation mit dem Assistenten zu
            erstellen:</h4>
        <ul>
            <li>Starten Sie den Assistenten</li>
            <li>Wählen Sie die Tabellen aus, die Sie verwenden möchten</li>
            <li>Wählen Sie die Felder in den Tabellen aus die Sie anzeigen möchten</li>
            <li>Verbinden Sie die Tabellen mittels JOIN oder UNION</li>
            <li>Sie können nun zum manuellen Modus weiterfahren</li>
        </ul>
    </div>
</div>