<div id="register_view" ng-controller="RegisterController as rc">
    <div ng-if="rc.complete == false">
        <form role="form" ng-if="rc.authenticated != true" name="registerForm" ng-submit="rc.register(registerForm)" novalidate>
            <div class="form-group">
                <label for="id_username">Username</label>
                <input name="username" id="id_username" class="form-control" type="text" ng-model="rc.model.username" placeholder="Username" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in rc.errors.username">{{error}}</div>
            <div class="form-group">
                <label for="id_password">Password</label>
                <input name="password1" id="id_password1" class="form-control" type="password" ng-model="rc.model.password1" placeholder="Password" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in rc.errors.password1">{{error}}</div>
            <div class="form-group">
                <label for="id_password">Repeat Password</label>
                <input name="password" id="id_password2" class="form-control" type="password" ng-model="rc.model.password2" placeholder="Repeat Password" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in rc.errors.password2">{{error}}</div>
            <div class="form-group">
                <label for="id_email">Email</label>
                <input name="email" id="id_email" class="form-control" type="email" ng-model="rc.model.email" placeholder="Email" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in rc.errors.email">{{error}}</div>
            <button ng-hide="rc.authenticated" type="submit" class="btn btn-primary">Register</button>
        </form>
        <p ng-if="rc.authenticated">You are already logged in!  You don't need to register.</p>
    </div>
    {{rc.errors}}
    <div ng-if="rc.complete == true">
        <div class="alert alert-success">Great!  You've just registered.  You should receive an email shortly with instructions on how to activate your account.</div>
    </div>
</div>