<div id="userProfile_view" ng-controller="UserProfileController as up">
    <div ng-if="up.complete == false">
        <form role="form" ng-if="up.UserService.isAuthenticated()" name="userProfileForm" ng-submit="up.updateProfile(userProfileForm, up.model)" novalidate>

            <div class="form-group">
                <label for="id_first_name">Username</label>
                <input disabled name="first_name" id="id_user_name" class="form-control" type="text" ng-model="up.username" placeholder="First Name" />
            </div>
            <div class="form-group">
                <label for="id_first_name">First Name</label>
                <input name="first_name" id="id_first_name" class="form-control" type="text" ng-model="up.model.first_name" placeholder="First Name" />
            </div>
            <div class="alert alert-danger" ng-repeat="error in up.errors.first_name">{{error}}</div>
            <div class="form-group">
                <label for="id_last_name">Last Name</label>
                <input name="last_name" id="id_last_name" class="form-control" type="text" ng-model="up.model.last_name" placeholder="Last Name" />
            </div>
            <div class="alert alert-danger" ng-repeat="error in up.errors.last_name">{{error}}</div>
            <div class="form-group">
                <label for="id_email">Email</label>
                <input name="email" id="id_email" class="form-control" type="email" ng-model="up.model.email" placeholder="Email" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in up.errors.email">{{error}}</div>
            <button type="submit" ng-show="up.UserService.isAuthenticated()" class="btn btn-primary">Update Profile</button>
        </form>
        <div class="alert alert-warning" ng-if="!up.UserService.isAuthenticated()">You need to be logged in to do this.</div>
    </div>
    <div ng-if="up.complete == true">
        <div class="alert alert-success">You have updated your profile.</div>
    </div>
</div>