# django-toolbelt
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.7.5
django-toolbelt==0.0.1
gunicorn==19.2.1
psycopg2==2.6
static3==0.5.1
requests==2.5.3
unicodecsv==0.9.4

django-picklefield==0.3.1
djangorestframework==3.0.5
django-pgjson==0.2.3
django-rest-auth
django-allauth


numpy==1.9.2
pandas==0.15.2
petl==1.0.6
python-dateutil==2.4.1
pytz==2014.10
six==1.9.0
ogrtools==0.7.2
xlrd==0.9.3