<h1>Über OpenDataHub</h1>

<p>
    OpenDataHub ist das Resultat einer Bachelor-Arbeit in Informatik an der <a href="http://www.hsr.ch">Hochschule für
    Technik Rapperswil (HSR)</a>.

    Das Ziel der Arbeit ist die Erstellung einer Plattform, auf welcher Anbieter von öffentlichen Daten ihre Daten
    anbieten, und Nutzer diese in einem für sie brauchbaren Format wieder beziehen können.
</p>


<h1>About OpenDataHub</h1>

<p>
    OpenDataHub is the result of a bachelor thesis in computer science at the
    <a href="https://www.hsr.ch/Home.home.0.html?&L=4">Hochschule für Technik Rapperswil (HSR)</a>.

    The goal is both to provide a platform for providers of open data to offer their data, and to allow users of said
    data to retrieve it in a format useful to them.
</p>