<div class="row" style="margin-bottom: 1em;">
    <div class="col-md-6 inline-checkbox-fix">
        <input id="name" name="name" type="text" placeholder="Suche"
               class="form-control input-md floating-label"
               ng-model="docs.tableParams.filter()['search']"
               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 200, 'blur': 0} }"
                >
    </div>
    <div class="col-md-6 checkbox checkbox-inline" ng-show="docs.isAuthenticated()">
        <label><input type="checkbox" ng-model="docs.tableParams.filter()['mineOnly']" />
            Nur eigene Daten anzeigen</label>
    </div>
</div>

<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-striped table-hover" ng-table="docs.tableParams">
            <tr ng-repeat="row in $data">
                <td data-title="'ID'" sortable="'id'">{{row.id}}</td>
                <td data-title="'Titel'" sortable="'name'"><a ui-sref="document({id: row.id})">{{ row.name }}</a>
                <i class="fa fa-eye" ng-show="row.private" tooltip="Dieses Dokument ist Privat"></i></td>
                <td data-title="'Beschreibung'" sortable="'description'">{{ row.description }}</td>
                <td data-title="'Besitzer'">{{row.owner.username}}</td>
            </tr>
        </table>
    </div>
</div>

