
<div class="btn-toolbar clearfix">
    <button class="btn btn-default" ui-sref="documents">Zur Liste</button>
    <a class="btn btn-default" ng-href="{{ doc.document.data }}?fmt=csv" target="_blank">Download als CSV</a>
    <a class="btn btn-default" ng-href="{{ doc.document.data }}?fmt=json" target="_blank">Download als JSON</a>
</div>

<div style="padding-top: 2em">
    <div class="col-md-4">Name</div>
    <div class="col-md-8">{{ doc.document.name }}</div>

    <div class="col-md-4">Beschreibung</div>
    <div class="col-md-8">{{ doc.document.description }}</div>
</div>