<div>
    <h1>{{ doc.pkg.name }} <i class="fa fa-eye" ng-show="doc.pkg.private" tooltip="Dieses Dokument ist privat"></i></h1>

    <p>{{ doc.pkg.description }}</p>

    <p><em>Hinzugefügt: {{ doc.pkg.created_at | amCalendar }}</em></p>

    <div class="btn-toolbar">
        <button class="btn btn-danger" ng-click="doc.remove()" ng-show="doc.allowDelete">Löschen</button>
    </div>
</div>

<h3>Dateien</h3>
<odh-spinner show-while="doc.loading">
    <div class="panel panel-default" ng-repeat="group in doc.fileGroups">
        <div class="panel-body">
            <div class="row-same-height row-full-height">
                <div class="col-md-4 col-full-height col-xs-height" style="vertical-align:middle">
                    <span ng-repeat="file in group.files">{{ file.file_name }}{{ $last ? '' : ', ' }}</span>
                </div>
                <div class="btn-group pull-right" ng-if="doc.previewSuccess">
                    <a data-target="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        Herunterladen
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="format in doc.availableFormats">
                            <a ng-click="doc.downloadAs(group, format.name)">{{ format.label }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row" ng-repeat="preview in group.preview">
                <odh-preview pkg="preview" success="doc.previewSuccess"></odh-preview>
            </div>
        </div>
    </div>
</odh-spinner>
