<nav class="navbar navbar-default shadow-z-2" role="navigation"
     ng-controller="NavBarController as vm">

    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#js-navbar-collapse">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a ui-sref="main" class="navbar-brand">OpenDataHub</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="documents">Daten</a></li>
                <li ui-sref-active="active" ng-show="vm.isAuthenticated()">
                    <a ui-sref="offer">Teilen</a>
                </li>
                <li ui-sref-active="active"><a ui-sref="transformation.new">Neue Transformation</a></li>
                <li ui-sref-active="active"><a ui-sref="transformation.list">Transformationen</a></li>
                <li ui-sref-active="active"><a ui-sref="about">Über</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="vm.isAuthenticated()">
                    <a href="#" ng-click="vm.logout()">Abmelden</a>
                </li>
                <li ng-hide="vm.isAuthenticated()">
                    <a ui-sref="login">Anmelden / Registrieren</a>
                </li>
                <li ng-show="vm.isAuthenticated()">
                    <a ui-sref="userProfile">Profil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
