<nav class="navbar navbar-default navbar-material-blue shadow-z-2" role="navigation"
     ng-controller="NavBarController as vm">

    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a ui-sref="main" class="navbar-brand">OpenDataHub</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="documents">Dokumente</a></li>
                <li ui-sref-active="active"><a ui-sref="offer">Teilen</a></li>

                <li ui-sref-active="active" class="dropdown">

                    <a class="dropdown-toggle" data-toggle="dropdown">User
                        {{ vm.getAuthenticatedAccount().username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="userDetail({username: vm.getAuthenticatedAccount().username})">User</a>
                        </li>
                        <li>
                            <a ui-sref="userSettings({username: vm.getAuthenticatedAccount().username})">Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="vm.isAuthenticated()">
                    <a href="#" ng-click="vm.logout()">Logout</a>
                </li>
                <li>
                    <a ui-sref="login">Login</a>
                </li>
                <li>
                    <a ui-sref="register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>