<nav class="navbar navbar-default navbar-material-blue-700 shadow-z-2" role="navigation"
     ng-controller="NavBarController as vm">

    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a ui-sref="main" class="navbar-brand">OpenDataHub</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="documents">Dokumente</a></li>
                <li ui-sref-active="active"><a ui-sref="offer.params({type: 'online'})">Teilen</a></li>
                <li ui-sref-active="active"><a ui-sref="about">Über</a></li>

                <li ui-sref-active="active" class="dropdown" ng-show="false">

                    <a class="dropdown-toggle" data-toggle="dropdown">User
                       </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="userDetail({username: vm.getAuthenticatedAccount().username})">User</a>
                        </li>
                        <li>
                            <a ui-sref="userSettings({username: vm.getAuthenticatedAccount().username})">Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="vm.isAuthenticated()">
                    <a href="#" ng-click="vm.logout()">Ausloggen</a>
                </li>
                <li ng-hide="vm.isAuthenticated()">
                    <a ui-sref="login">Einloggen / Registrieren</a>
                </li>
                <li ng-show="vm.isAuthenticated()">
                    <a ui-sref="userProfile">UserProfile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
