<form name="form" class="form-horizontal">
    <fieldset>

        <div class="form-group" ng-class="{'has-error': form.name.$invalid && vm.submitted}">
            <label class="col-md-3 control-label" for="name">Name/Titel</label>

            <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Name für odhSQL Snippet."
                       class="form-control input-md"
                       ng-model="snippet.name"
                       required>

                <div ng-messages="form.name.$error" ng-show="form.name.submitted">
                    <span class="help-block">
                        <div ng-message="required">Bitte geben Sie einen Namen an</div>
                    </span>
                </div>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group" ng-class="{'has-error': form.description.$invalid && vm.submitted}">
            <label class="col-md-3 control-label" for="description">Beschreibung</label>

            <div class="col-md-9">
                <textarea class="form-control" id="description" name="description"
                          ng-model="snippet.description"
                          placeholder="z.B. Transformiert alle Vornamen zu Nachnamen"
                          required
                          rows="4"
                        ></textarea>

                <div ng-messages="form.description.$error" ng-show="vm.submitted">
                    <span class="help-block">
                        <div ng-message="required">Bitte geben Sie eine Beschreibung an</div>
                    </span>
                </div>

            </div>
        </div>
        <!-- /Textarea -->
        <div ng-controller="odhqlSelectController as odh">
            <script type="text/ng-template" id="odhql-source-select.html">
                <div class="modal-header">
                    <h3 class="modal-title">Wählen Sie Ihre Datenquellen aus</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Beschreibung</th>
                            <th>Hinzufügen</th>
                        </tr>
                        <tr ng-repeat="item in IOdh.items">
                            <td>{{ item.id }} </td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td><i ng-click="IOdh.selected.add(item);" class="fa fa-plus-circle" ng-hide="IOdh.selected.items.indexOf(item) > -1"></i></td>
                        </tr>
                    </table>

                    Selected: <b>{{ IOdh.selected.items.length }}</b>
                    <table class="table table-striped" ng-if="IOdh.selected.items.length > 0">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Beschreibung</th>
                            <th>Entfernen</th>
                        </tr>
                        <tr ng-repeat="item in IOdh.selected.items">
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td><i ng-click="IOdh.selected.remove(item)" class="fa fa-minus-circle"></i></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="IOdh.ok()">OK</button>
                    <button class="btn btn-warning" ng-click="IOdh.cancel()">Cancel</button>
                </div>
            </script>

            <div class="form-group">
                <label class="col-md-4 control-label" for="add"></label>

                <div class="col-md-8">
                    <button ng-click="odh.open()" id="add" name="add" class="btn btn-primary pull-right">Quellen
                        Auswählen
                    </button>
                </div>
            </div>
            <table class="table table-striped" ng-show="odh.selected">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Unique Name</th>
                </tr>
                <tr ng-repeat="item in odh.selected">
                    <td>{{ item.id }}
                        <i class="fa fa-question-circle" tooltip-placement="left" tooltip="Verfügbare Felder: \\todo"></i>
                        <i class="fa fa-plus-circle" ng-click="vm.getFileGroup(item.id, item.uniqueid);"></i>
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td><label>
                        <input type="text" ng-value="item.uniqueid">
                    </label></td>
                </tr>
            </table>
        </div>
        <div class="row" ng-repeat="group in vm.fileGroups" style="margin-left:0.5em">
                <div class="col-md-12 table-responsive">
                    Feld anklicken um es zum ??Snippet?? hinzuzufügen.
        <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th ng-repeat="col in group.preview.columns">{{ col }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in group.preview.data | limitTo: 3">
                            <td ng-repeat="col in group.preview.columns" ng-click="vm.insert(col)">
                                {{ row[col] | characters:25 :true }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </div>
            </div>
        <!-- Textarea -->
        <div class="form-group" ng-class="{'has-error': form.description.$invalid && vm.submitted}">
            <label class="col-md-3 control-label" for="description">odhSQL Snippet <i
                    class="fa fa-question-circle"></i></label>

            <div class="col-md-9">
                <textarea class="form-control" id="odhsqlinput" name="description"
                          ng-model="vm.odhsqlinput" rows="10"
                          placeholder="SELECT x FROM y WHERE z is 123;"
                          required
                        ></textarea>

                <div ng-messages="form.description.$error" ng-show="vm.submitted">
                    <span class="help-block">
                        <div ng-message="required">Bitte geben Sie das odhSQL Snippet an.</div>
                    </span>
                </div>

            </div>
        </div>
        <!-- /Textarea -->


        <div class="form-group">
            <label class="col-md-4 control-label" for="add"></label>

            <div class="col-md-8">
                <button ng-click="snippet.submit()" id="add" name="add" class="btn btn-primary pull-right">
                    Speichern
                </button>
                <button ng-click="snippet.preview()" id="cancel" name="cancel" class="btn btn-info pull-right">
                    Vorschau
                </button>
            </div>
        </div>

        <div ng-show="snippet.progress" class="col-md-offset-3 col-md-6">
            <progressbar class="progress-striped active" max="100"
                         value="offer.progress" type="info">
            </progressbar>
        </div>

    </fieldset>
</form>

