<form name="form" class="form-horizontal">
    <fieldset>

        <div class="form-group" ng-class="{'has-error': form.name.$invalid && snippet.submitted}">
            <label class="col-md-3 control-label" for="name">Name/Titel</label>

            <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Name für odhSQL Snippet."
                       class="form-control input-md"
                       ng-model="snippet.name"
                       required>

                <div ng-messages="form.name.$error" ng-show="form.name.submitted">
                    <span class="help-block">
                        <div ng-message="required">Bitte geben Sie einen Namen an</div>
                    </span>
                </div>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group" ng-class="{'has-error': form.description.$invalid && snippet.submitted}">
            <label class="col-md-3 control-label" for="description">Beschreibung</label>

            <div class="col-md-9">
                <textarea class="form-control" id="description" name="description"
                          ng-model="snippet.description"
                          placeholder="z.B. Transformiert alle Vornamen zu Nachnamen"
                          required
                          rows="4"
                        ></textarea>

                <div ng-messages="form.description.$error" ng-show="snippet.submitted">
                    <span class="help-block">
                        <div ng-message="required">Bitte geben Sie eine Beschreibung an</div>
                    </span>
                </div>

            </div>
        </div>
        <!-- /Textarea -->
        <div ng-controller="odhqlSelectController">
        <script type="text/ng-template" id="odhql-source-select.html">
        <div class="modal-header">
            <h3 class="modal-title">Wählen Sie Ihre Datenquellen aus</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

        <div class="form-group">
            <label class="col-md-4 control-label" for="add"></label>

            <div class="col-md-8">
                <button ng-click="open()" id="add" name="add" class="btn btn-primary pull-right">Quellen Auswählen</button>
            </div>
        </div>
        <!-- Textarea -->
        <div class="form-group" ng-class="{'has-error': form.description.$invalid && snippet.submitted}">
            <label class="col-md-3 control-label" for="description">odhSQL Snippet <i class="fa fa-question-circle"></i></label>

            <div class="col-md-9">
                <textarea class="form-control" id="description" name="description"
                          ng-model="snippet.description" rows="10"
                          placeholder="SELECT x FROM y WHERE z is 123;"
                          required
                        ></textarea>

                <div ng-messages="form.description.$error" ng-show="offer.submitted">
                    <span class="help-block">
                        <div ng-message="required">Bitte geben Sie das odhSQL Snippet an.</div>
                    </span>
                </div>

            </div>
        </div>
        <!-- /Textarea -->


        <div class="form-group">
            <label class="col-md-4 control-label" for="add"></label>

            <div class="col-md-8">
                <button ng-click="snippet.submit()" id="add" name="add" class="btn btn-primary pull-right">Speichern</button>
                <button ng-click="snippet.preview()" id="cancel" name="cancel" class="btn btn-info pull-right">Vorschau</button>
            </div>
        </div>

        <div ng-show="snippet.progress" class="col-md-offset-3 col-md-6">
            <progressbar class="progress-striped active" max="100"
                         value="offer.progress" type="info">
            </progressbar>
        </div>

    </fieldset>
</form>

