<form name="form" class="form-horizontal">
    <fieldset>

        <div class="form-group" ng-class="{'has-error': form.name.$invalid && offer.submitted}">
            <label class="col-md-3 control-label" for="name">Name/Titel</label>

            <div class="col-md-6">
                <input id="name" name="name" type="text" placeholder="z.B. Verkehrshindernisse ZH"
                       class="form-control input-md"
                       ng-model="offer.name"
                       required>

                <div ng-messages="form.name.$error" ng-show="form.name.submitted">
                    <span class="help-block">
                        <div ng-message="required">Bitte geben Sie einen Namen an</div>
                    </span>
                </div>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group" ng-class="{'has-error': form.description.$invalid && offer.submitted}">
            <label class="col-md-3 control-label" for="description">Beschreibung</label>

            <div class="col-md-6">
                <textarea class="form-control" id="description" name="description"
                          ng-model="offer.description"
                          placeholder="z.B. Verkehrshindernisse März 2015 im Kanton Zürich"
                          required
                        ></textarea>

                <div ng-messages="form.description.$error" ng-show="offer.submitted">
                    <span class="help-block">
                        <div ng-message="required">Bitte geben Sie eine Beschreibung an</div>
                    </span>
                </div>

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" for="name">Privat</label>

            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        <input id="name" name="name" type="checkbox"
                               ng-model="offer.isPrivate" type="checkbox">
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Format</label>

            <div class="col-md-6">
                <ui-select ng-model="offer.format">
                    <ui-select-match placeholder="Automatische Erkennung">{{ $select.selected.name }}</ui-select-match>
                    <ui-select-choices repeat="item.label as item in offer.formatChoices">
                        {{ item.label }} <span ng-if="format.extension">({{ format.extension }})</span>
                        <br/><small>{{ item.description }}</small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="col-md-7 col-md-offset-3">
            <div class="form-group">

                <div class="radio">
                    <label>
                        <input name="data-source" ng-change="offer.switchDataSource()" id="data-source" type="radio"
                               ng-model="offer.dataSource" value="online">
                        Online
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input name="data-source" ng-change="offer.switchDataSource()" type="radio"
                               ng-model="offer.dataSource" value="file">
                        Dateien hochladen
                    </label>
                </div>
            </div>
        </div>

        <div ng-switch="offer.field.type">

            <div ng-switch-when="file">
                <div class="col-md-offset-3 col-md-6"
                     ng-class="{'has-error': form[offer.field.id].$invalid && offer.submitted}">

                    <div required ng-file-drop ng-file-select id="{{ offer.field.id }}" name="{{ offer.field.id }}"
                         ng-model="offer.params.file" class="well text-center"
                         drag-over-class="well-material-blue-100" ng-multiple="true" allow-dir="false">

                            <span ng-show="offer.params.file" ng-repeat="file in offer.params.file">
                                {{ file.name | limitTo: 20 }}{{ file.name.length > 20 ? '...' : '' }}{{ $last ? '' : ','  }}
                            </span>

                            <span ng-hide="offer.params.file">
                                {{ offer.field.label }}
                            </span>

                    </div>
                    <div ng-no-file-drop>Ziehen von Dateien wird von Ihrem Browser nicht unterstützt</div>
                    <div ng-messages="form[offer.field.id].$error"
                         ng-show="form[offer.field.id].$invalid && offer.submitted">
                            <span class="help-block">
                                <div ng-message="required">Bitte stellen Sie mindestens eine Datei zur Verfügung.</div>
                            </span>
                    </div>
                </div>
            </div>

            <div ng-switch-default>
                <div class="form-group" ng-class="{'has-error': form[offer.field.id.url].$invalid && offer.submitted}">
                    <label class="col-md-3 control-label"
                           for="{{ offer.field.id.url }}">{{ offer.field.label.url }}</label>

                    <div class="col-md-6">
                        <input ng-model="offer.params.url" id="{{ offer.field.id.url }}"
                               name="{{ offer.field.id.url }}"
                               type="text" placeholder="{{ offer.field.placeholder.url }}"
                               class="form-control input-md"
                               required>

                        <div ng-messages="form[offer.field.id.url].$error" ng-show="offer.submitted">
                            <span class="help-block">
                                <div ng-message="required">Die Eingabe von "{{ offer.field.label.url }}" ist zwingend.
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">{{ offer.field.label.refresh }}</label>

                    <div class="col-md-6">
                        <ui-select ng-model="offer.params.refresh">
                            <ui-select-match>{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="item.value as item in offer.refreshChoices |
                                    filter: { name: $select.search }">
                                {{ item.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="add"></label>

            <div class="col-md-8">
                <button ng-click="offer.submit()" id="add" name="add" class="btn btn-primary">Teilen</button>
                <button ng-click="offer.cancel()" id="cancel" name="cancel" class="btn btn-danger">Abbrechen</button>
            </div>
        </div>

        <div ng-show="offer.progress" class="col-md-offset-3 col-md-6">
            <progressbar class="progress-striped active" max="100"
                         value="offer.progress" type="info">
            </progressbar>
        </div>

    </fieldset>

</form>

