<form name="form" class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Daten anbieten</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Name</label>

            <div class="col-md-5">
                <input id="name" name="name" type="text" placeholder="z.B. Verkehrshindernisse ZH"
                       class="form-control input-md"
                       ng-model="offer.name"
                       required>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="description">Beschreibung</label>

            <div class="col-md-5">
                <textarea class="form-control" id="description" name="description"
                          ng-model="offer.description"
                          required
                        ></textarea>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="data-source">Quelle</label>

            <div class="col-md-5">
                <ui-select id="data-source" name="data-source"
                           ng-model="offer.dataSource"
                           theme="bootstrap"
                           on-select="offer.switchDataSource($item, $model)"
                           required
                        >
                    <ui-select-match placeholder="Wählen Sie eine Datenquelle">
                        {{$select.selected.label}}
                    </ui-select-match>
                    <ui-select-choices repeat="dataSource in offer.dataSources">
                        <span ng-bind-html="dataSource.label"></span>
                    </ui-select-choices>
                </ui-select>

            </div>
        </div>

        <div class="form-group" ui-view></div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="add"></label>

            <div class="col-md-8">
                <button ng-click="offer.submit()" id="add" name="add" class="btn btn-primary">Hinzufügen</button>
                <button ng-click="offer.cancel()" id="cancel" name="cancel" class="btn btn-danger">Abbrechen</button>
            </div>
        </div>

        <div ng-show="offer.progress" class="col-md-offset-4 col-md-5">
            <progressbar class="progress-striped active" max="100"
                         value="offer.progress" type="info">
            </progressbar>
        </div>

    </fieldset>

</form>

