<div ng-controller="TransformationDetailController as vm">
    <odh-spinner show-while="vm.loading">
        <form name="form" class="form" ng-submit="vm.submit()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Metadaten
                </div>
                <div class="panel-body">
                    <div class="row" ng-show="vm.transformationObject">
                        <div class="col-sm-10 col-xs-7">
                            <h1 class="">{{ ::vm.name }}<i class="fa fa-eye" ng-show="::vm.private"
                                                           tooltip="Dieses Dokument ist privat"></i>
                            </h1>

                            <p class="">
                                <strong>Beschreibung:</strong>
                                {{ ::vm.description }}</p>

                            <p>
                                <strong>Besitzer:</strong>
                                {{::vm.transformationObject.owner.first_name}}
                                {{::vm.transformationObject.owner.last_name}}
                                ({{::vm.transformationObject.owner.username}})
                            </p>


                        </div>
                        <div class="col-sm-2 col-xs-5 text-center top-buffer">
                            <p>
                                <i ng-class="!vm.transformationObject.is_template?'fa-file-text-o':'fa-file-o'"
                                   class="fa fa-5x"></i>

                            </p>

                            <span class="">
                                {{::vm.transformationObject.is_template?'Template':'Transformation'}}
                            </span>
                        </div>
                    </div>


                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Vorschau
                    <div class="btn-group btn-primary pull-right btn-in-header btn-sm" ng-if="vm.previewSuccess">
                        <a data-target="#" class="btn btn-primary btn-in-header btn-sm dropdown-toggle"
                           data-toggle="dropdown">
                            Herunterladen
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="format in vm.availableFormats">
                                <a ng-click="vm.downloadAs(vm.transformationObject, format.name)">{{ format.label }}
                                    <span ng-if="format.extension">({{ format.extension }})</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">

                    <odh-preview pkg="vm.promise" query="vm.previewTransformation"
                                 success="vm.previewSuccess"></odh-preview>

                </div>
            </div>

            <div class="panel panel-default clearfix" style="margin-top: 2em">
                <div class="panel-heading" ng-click="vm.showExpertPanel = !vm.showExpertPanel">
                    Bearbeiten
                </div>
                <div class="panel-body" id="expertPanel" collapse="!vm.showExpertPanel">
                    <div class="form-group" ng-class="{'has-error': form.documentname.$invalid && vm.submitted}">
                        <label for="transformationname">Name/Titel</label>

                        <input name="transformationname" type="text"
                               placeholder="Name der Transformation"
                               class="form-control"
                               ng-model="vm.name"
                               required>

                        <div ng-messages="form.transformationname.$error" ng-show="vm.submitted">
                    <span class="help-block">
                        <div ng-message="required">Bitte geben Sie einen Namen an</div>
                    </span>
                        </div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group" ng-class="{'has-error': form.description.$invalid && vm.submitted}">
                        <label class="control-label" for="description">Beschreibung</label>

                <textarea class="form-control" id="description" name="description"
                          ng-model="vm.description"
                          placeholder="z.B. Vereint alle Verkehrshindernisse der Schweiz"
                          required
                          rows="4"
                        ></textarea>


                        <div ng-messages="form.description.$error" ng-show="doc.submitted">
                    <span class="help-block">
                        <div ng-message="required">Bitte geben Sie eine Beschreibung an</div>
                    </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name">Privat</label>


                        <div class="checkbox">
                            <label>
                                <input id="name" name="name" type="checkbox" value="true"
                                       ng-model="vm.private">
                            </label>
                        </div>
                    </div>
                    <a ui-sref="odhql-help" target="_blank"><i class="fa fa-question-circle"></i></a>
                    <!-- Textarea -->
                    <alert ng-repeat="alert in vm.alerts" type="{{ alert.type }}" close="vm.closeAlert($index)">
                        <strong>{{ alert.title }}</strong>
                        {{ alert.msg }}
                    </alert>
                    <div class="form-group" ng-class="{'has-error': form.odhqlinput.$invalid && vm.submitted}">
                        <div ui-ace="{
                    useWrapMode : true,
                    showGutter: false,
                    mode: 'sql',
                    firstLineNumber: 5,
                    onLoad: vm.aceLoaded,
                    }" ng-model="vm.transformation"
                                ></div>
                        {{ vm.errorMessage }}
                        <div ng-messages="form.description.$error" ng-show="vm.submitted">
                        <span class="help-block">
                            <div ng-message="required">Bitte geben Sie die ODHQL Abfrage an.</div>
                        </span>
                        </div>

                    </div>
                    <!-- /Textarea -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-md-1 control-label" for="add"></label>

                                <div class="col-md-11">
                                    <button ng-show="vm.isAuthenticated()" id="add" name="add"
                                            class="btn btn-primary pull-right"
                                            ng-click="vm.duplicateTransformation()">
                                        Klonen
                                    </button>
                                    <button ng-show="vm.allowDelete" id="add" name="add"
                                            class="btn btn-primary pull-right"
                                            ng-click="vm.saveTransformation()">
                                        Speichern
                                    </button>
                                    <button id="add" name="add" class="btn btn-primary pull-right"
                                            ng-click="vm.preview()">
                                        Vorschau
                                    </button>
                                    <button class="btn btn-danger pull-right" ng-click="vm.remove()"
                                            ng-show="vm.allowDelete">
                                        Löschen
                                    </button>

                                </div>
                            </div>

                            <div ng-show="vm.progress" class="col-md-offset-3 col-md-6">
                                <progressbar class="progress-striped active" max="100"
                                             value="offer.progress" type="info">
                                </progressbar>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 table-responsive">
                            <h2>Geladene Tabellen</h2>
                            <odh-choose-transformation
                                    add-remove-table="vm.addRemoveTable(table)"
                                    check-table-selected="vm.checkTableSelected(table)"
                                    modal="true"
                                    modal-visible="false"
                                    modal-opener="'Tabelle laden'"
                                    ></odh-choose-transformation>

                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-striped table-hover">
                                        <tr ng-repeat="table in vm.loadedTablesArray">
                                            <td data-title="'Name'">{{ table.name }}</td>
                                            <td data-title="'Meta'">{{ table.count }} Zeilen / {{
                                                table.columns.length
                                                }}
                                                Spalten
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" ng-model="vm.previewTransformation"
                               odh-validate-transformation="vm.errorMessage"
                               preview-object="vm.promise">

                        <div class="col-md-6 table-responsive">
                            <h2>Benutzte Tabellen</h2>
                            <table class="table table-striped">
                                <tr>
                                    <th>Name in Transformation verwendet</th>
                                    <th>Ausgewählte Tabelle</th>
                                </tr>
                                <tr ng-repeat="table in vm.usedTables">
                                    <td>
                                        {{ table.name }}[{{table.alias}}] {{ table.unique_name }}
                                    </td>
                                    <td><select ng-options="v.unique_name for v in vm.loadedTablesArray
                                | filterAlreadyAdded:{tables: vm.chosenTables, selected: vm.selected[table.name].unique_name}"
                                                ng-model="vm.selected[table.name]"
                                                ng-change="vm.generateNewTransformation()"
                                            >
                                        <option value="">--</option>
                                    </select></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div ng-if="vm.loadedTablesArray.length > 0">
                        Spalten-Namen pro geladene Tabelle:

                        <div class="row">
                            <div class="col-sm-12" ng-repeat="table in vm.loadedTablesArray">
                                <strong>{{table.unique_name}}: </strong>
                                {{table.columns.join(', ') }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>

        <div ng-if="vm.templateTransformation !== vm.transformation">
            <h3>Originale Abfrage: </h3>
            <pre>{{ vm.templateTransformation }}</pre>
        </div>
    </odh-spinner>
</div>