<div ng-controller="TransformationListController as vm" class="table-responsive">
    <table ng-table="vm.tableParams" class="table table-striped table-hover">
        <tr ng-repeat="transformation in $data">
            <td data-title="'Name'" sortable="'name'" header-class="'text-left'" filter="{ 'name': 'text' }" class="col-sm-4">
                <a ui-sref="transformation.detail({id: transformation.id})">
                    <strong>{{ transformation.name }}</strong> <i class="fa fa-eye" ng-show="transformation.private"
                                                                  tooltip="Dieses Dokument ist Privat"></i>
                </a>
            </td>
            <td data-title="'Beschreibung'" sortable="'description'" header-class="'text-left'" class="col-sm-6">
                {{transformation.description}}
            </td>
            <td data-title="'Besitzer'" header-class="'text-left'" class="col-sm-2">{{transformation.owner.username}}</td>
        </tr>
    </table>
</div>