<div class="panel panel-default">
    <div class="panel-heading">
        Transformation Vorbereiten
    </div>
    <div class="panel-body">
        <h4>Bitte lesen Sie diese Punkte durch, bevor Sie beginnen:</h4>
        <ul>
            <li>Sobald Sie den Assistenten verlassen und das Query manuell verändern
                <strong>können Sie nicht mehr zurück kehren!</strong>

            </li>
            <li>Eine generische Transformation kann nur auf Syntax geprüft werden und liefert keine
                Vorschau
            </li>

        </ul>

        <h4>Gehen Sie in folgenden Schritten vor, um eine Transformation mit dem Assistenten zu
            erstellen:</h4>
        <ul>
            <li>Starten Sie den Assistenten</li>
            <li>Wählen Sie die Tabellen aus, die Sie verwenden möchten</li>
            <li>Wählen Sie die Felder in den Tabellen aus die Sie anzeigen möchten</li>
            <li>Verbinden Sie die Tabellen mittels JOIN oder UNION</li>
            <li>Sie können nun zum manuellen Modus weiterfahren</li>
            <li>Sie sehen den generierten Syntax jeweils am Ende der Seite</li>
        </ul>
    </div>
</div>