<div ng-controller="TransformationCreateController as vm">
    <form name="form" class="form" ng-submit="vm.submit()">
        <tabset>
            <tab ng-repeat="tab in vm.tabs" active="tab.active" disabled="tab.disabled()" select="tab.open()">
                <tab-heading>
                    <i class="fa" ng-class="tab.icon" ng-if="tab.icon"></i>
                    {{tab.heading}}
                </tab-heading>
                <div ng-include="tab.template" class="top-buffer"></div>

            </tab>


        </tabset>
        <div ng-show="vm.progress" class="col-md-offset-3 col-md-6">
            <progressbar class="progress-striped active" max="100"
                         value="offer.progress" type="info">
            </progressbar>
        </div>

        <div class="panel panel-default" ng-show="vm.odhqlInputString">
            <div class="panel-heading">Vorschau
                <button type="button" id="preview" name="preview"
                        class="btn btn-primary pull-right btn-sm btn-in-header"
                        ng-click="vm.preview()" ng-disabled="vm.transformationPreview !== ''">
                    <i class="fa fa-refresh"></i> Vorschau
                </button>
            </div>
            <div class="panel-body">
                <alert ng-repeat="alert in vm.alerts" type="{{ alert.type }}" close="vm.closeAlert($index)">
                    <strong>{{ alert.title }}</strong>
                    {{ alert.msg }}
                </alert>
                <alert ng-show="form.odhqlinput.$invalid && vm.transformationPreview !== ''" type="warning">
                    <strong>Das Query enthält ungültigen Syntax.</strong>

                    <p>{{vm.errorMessage.error}} (Line: {{vm.errorMessage.lineno}},
                        Col: {{vm.errorMessage.col}}) at {{vm.errorMessage.line}}</p>
                </alert>
                <odh-preview preview="vm.previewObject"></odh-preview>

            </div>
        </div>
        <div ng-if="vm.odhqlInputString" class="panel panel-default">
            <div class="panel-heading">Speichern
                <button id="add" name="add" class="btn btn-primary pull-right btn-sm btn-in-header"
                        ng-disabled="form.$invalid || form.$pending">
                    <i class="fa fa-floppy-o"></i> Speichern
                </button>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group"
                         ng-class="{'has-error': form.TransformationName.$invalid && vm.submitted}">
                        <label for="TransformationName">Name/Titel</label>

                        <input id="TransformationName" name="TransformationName" type="text"
                               placeholder="Name der Transformation"
                               class="form-control"
                               ng-model="vm.name"
                               required>

                        <div ng-messages="form.TransformationName.$error" ng-show="vm.submitted">
                    <span class="help-block">
                        <div ng-message="required">Bitte geben Sie einen Namen an</div>
                    </span>
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group" ng-class="{'has-error': form.description.$invalid && vm.submitted}">
                        <label class="control-label" for="description">Beschreibung</label>

                <textarea class="form-control" id="description" name="description"
                          ng-model="vm.description"
                          placeholder="z.B. Vereint alle Verkehrshindernisse der Schweiz"
                          required
                          rows="4"
                        ></textarea>


                        <div ng-messages="form.description.$error" ng-show="vm.submitted">
                    <span class="help-block">
                        <div ng-message="required">Bitte geben Sie eine Beschreibung an</div>
                    </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name">Privat</label>


                        <div class="checkbox">
                            <label>
                                <input id="name" name="name" type="checkbox" value="true"
                                       ng-model="vm.isPrivate" ng-model-options="{ getterSetter: true }">
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.description.$invalid && vm.submitted}">

                        <input type="hidden" ng-model="vm.transformationPreview"
                               class="form-control" name="odhqlinput"
                               odh-validate-transformation="vm.errorMessage"
                               preview-object="vm.previewObject"/>
                        <span ng-show="form.odhqlinput.$pending">Überprüfe Abfrage...</span>

                    </div>


                    <div class="row">
                        <div class="col-md-12" ng-messages="form.$error">
                    <span class="help-block" ng-message="transformation">
                        Bitte geben Sie eine gültige OdhQL Abfrage vor dem Speichern an und erstellen Sie eine Vorschau.
                    </span>
                    <span class="help-block" ng-message="required">
                       Bitte füllen Sie alle Felder aus.
                    </span>
                        </div>
            </div>
                </fieldset>
            </div>
            <div class="panel-footer"> &nbsp;
                <button id="add" name="add" class="btn btn-primary pull-right btn-sm btn-in-header"
                        ng-disabled="form.$invalid || form.$pending">
                    <i class="fa fa-floppy-o"></i> Speichern
                </button>
            </div>
</div>

    </form>
</div>

