<div ng-controller="TransformationListController as vm">
    <table ng-table="vm.tableParams">
        <tbody ng-repeat="transformation in $data">
        <tr>
            <td data-title="'Name'" sortable="name" filter="{ 'name': 'text' }" class="col-sm-5">
                <a ui-sref="transformation.detail({id: transformation.id})">
                    <strong>{{ transformation.name }}</strong> <i class="fa fa-eye" ng-show="transformation.private"
                                                                  tooltip="Dieses Dokument ist Privat"></i>
                    <small>(<i>{{transformation.owner.username}}</i>)</small>
                </a>
            </td>
            <td data-title="'Beschreibung'" class="col-sm-7">
                {{transformation.description}}
            </td>
            <td>
                {{transformation.owner.username}}
            </td>
        </tr>
        </tbody>
    </table>
</div>