<script id="sample_ng_header" type="text/ng-template">
    <tr>
        <th ng-repeat="column in cols"
            class="text-center">
            {{column.title}}
        </th>
    </tr>
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
                <strong>{{ alert.title }}</strong>

                <p>{{ alert.msg }}</p>
            </alert>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive" ng-if="!adHocPreview">
                <table ng-table="ngTableParams" template-header="sample_ng_header"
                       class="table table-striped ng-table-responsive">
                    <tr ng-repeat="row in $data">
                        <td ng-repeat="col in cols">
                            {{row[col.field] | characters:50}}
                            <i ng-if="row[col.field].length>50" class="fa fa-question-circle"
                               popover="{{row[col.field]}}"
                               popover-trigger="mouseenter"></i>
                        </td>
                    </tr>
                </table>
            </div>
            <br/>

            <div class="well" ng-if="success && adHocPreview">
                <h4>Vorschau</h4>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th ng-repeat="col in adHocCols">{{col.title}}</th>
                        </tr>
                        <tr ng-repeat="row in adHocPreview.data">
                            <td ng-repeat="col in adHocCols">
                                {{row[col.field] | characters:50}}
                                <i ng-if="row[col.field].length>50" class="fa fa-question-circle"
                                   popover="{{row[col.field]}}"
                                   popover-trigger="mouseenter"></i>
                            </td>
                        </tr>

                    </table>
                </div>
                <alert type="info" ng-if="adHocPreview && adHocPreview.msg">{{ adHocPreview.msg }}
                    Beim Speichern wird ein Template gespeichert!
                    <p ng-repeat="alert in adHocPreview.alerts">({{alert.msg}})</p>
                </alert>
            </div>


        </div>
    </div>
</div>